.game-library {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.show-library{

  margin-right: 10px;
}

.show-games{

  margin-top: 20px;
}

.form-horizontal{
  margin-left: 30px;
}

.li{
  color: red;
}

.libraryTitleList{
  cursor: pointer;
  cursor: hand;
}
